<div class="navbar-container">
  <nav>
    <a href="/" class="menu-subheading__logo">Logo</a>
    <ul class="menu-heading">
      <li><a href="/" class="menu-subheading__options"><i class="fa fa-bars" style="font-size:24px"></i></a>
        <ul class="menu-subheading__dropdown">
          <li><a href="/menu" class="menu-subheading__dropdown--menu">Menu</a></li>
          <li><a href="/order" class="menu-subheading__dropdown--order">Order</a></li>
          <li><a href="/contact" class="menu-subheading__dropdown--contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div class="main-content">
  <h4 class="main-content__menu">Browse our Menu</h4>
</div>