<div class="navbar-container">
  <a href="/" class="navbar-link__logo">Logo</a>
  <a href="/menu" class="nav-link__menu">Menu</a>
  <a href="/order" class="nav-link__order">Order</a>
  <a href="/contact" class="nav-link__contact">Contact Us</a>
</div>