<div class="navbar-container">
  <nav>
    <a href="/" class="menu-subheading__logo">Logo</a>

    <ul class="menu-heading">
      <li><a href="/" class="menu-subheading__options"><i class="fa fa-bars" style="font-size:24px"></i></a>
        <ul class="menu-subheading__dropdown">
          <li><a href="/menu" class="menu-subheading__dropdown--menu">Menu</a></li>
          <li><a href="/order" class="menu-subheading__dropdown--order">Order</a></li>
          <li><a href="/contact" class="menu-subheading__dropdown--contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div class="menu">
  <article class="menu-item">
    <div class="menu-item__image">Carbonara</div>
    <div class="menu-item__name">Carbonara</div>
    <div class="menu-item__size">Large $9.99</div>
    <div class="menu-item__customise">Customise</div>
    <div class="menu-item__add">Add to Basket</div>
  </article>
  <article class="menu-item">
    <div class="menu-item__image">Tuna</div>
    <div class="menu-item__name">Tuna</div>
    <div class="menu-item__size">Large $9.99</div>
    <div class="menu-item__customise">Customise</div>
    <div class="menu-item__add">Add to Basket</div>
  </article>
  <article class="menu-item">
    <div class="menu-item__image">Deliciosa</div>
    <div class="menu-item__name">Deliciosa</div>
    <div class="menu-item__size">Large $9.99</div>
    <div class="menu-item__customise">Customise</div>
    <div class="menu-item__add">Add to Basket</div>
  </article>
  <article class="menu-item">
    <div class="menu-item__image">Piña</div>
    <div class="menu-item__name">Piña</div>
    <div class="menu-item__size">Large $9.99</div>
    <div class="menu-item__customise">Customise</div>
    <div class="menu-item__add">Add to Basket</div>
  </article>
</div>