<div class="submenu-heading">
  <div class="submenu-heading__main">
    <div class="submenu-heading__main--collect">COLLECT from...</div>
    <div class="submenu-heading__main--menu">MENU</div>
    <div class="submenu-heading__main--deals">DEALS
      <i class="fas fa-angle-right"></i>
    </div>
    <div class="submenu-heading__main--basket">
      <i class="fas fa-shopping-basket"></i>
      <span class="basket-amount">$0.00</span>
    </div>
  </div>
  <div class="submenu-heading__secondary">
    <a href="#pizza-section" class="submenu-heading__main--pizza">Pizza</a>
    <a href="#sides-section" class="submenu-heading__main--sides">Sides</a>
    <a href="#desserts-section" class="submenu-heading__main--desserts">Desserts</a>
    <a href="#drinks-section" class="submenu-heading__main--drinks">Drinks</a>
  </div>
</div>
<div class="basket-container">
  <h3 class="basket-summary__text">Your have 3 items on your order : </h3>
  <div class="basket-item">
    <div class="basket-item__image"></div>
    <div class="basket-item__info">
      <p class="basket-item__name">Garlic Bread</p>
      <p class="basket-item__price">£ 3.99</p>
      <p class="basket-item__quantity">Qty : 1</p>
    </div>
    <div class="basket-buttons">
      <button class="btn btn-primary sum" id="add" onclick="addOne()">+</button>
      <button class="btn btn-primary rest">-</button>
    </div>
  </div>


</div>