* {
  margin : 0;
  border : 0;
  padding : 0;
  overflow-x: hidden;
}

body {
  background: lightgrey;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 21px;
  line-height: 1.42857143;
  background-color: #fff;
  margin : 0;
  border : 0;
  padding : 0
}

/* NAV BAR */

nav {
  display: flex;
}

.navbar-container {
  margin-bottom: -16px;
}

.menu-subheading__logo {
  color: #016391;
  line-height: 3;
  margin-left:5%;
  margin-right: 53%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  color : #fff;
  display: block;
  float: left;
  padding:1rem;
  position: relative;
  text-decoration: none;
  transition-duration : 0.5s;
}

li a {
  color: #016391;
}

li:hover,
li:focus-within {
  background-color: red;
  cursor: pointer;
  max-width: 7rem;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background-color: green;
  visibility: hidden;
  opacity: 0;
  max-width: 7rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  right: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus  {
  display: block;
  visibility: visible;
  opacity: 1;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}

/* SUBHEADER */

.submenu-heading {
  font-size: 28px;
  color: #fff;
  text-align: center
}

.submenu-heading__main{
  height: 50px;
  line-height: 60px;
  padding:3px 10px;
  width: 100%;
  margin-left: -10px;
  font-weight: 500;
  font-stretch: condensed;
}

.submenu-heading__main--collect {
  display: none;
}

.submenu-heading__main--menu,
.submenu-heading__main--deals {
width: 40%;
}

.submenu-heading__main--menu {
  background: black;
}

.submenu-heading__main--deals {
  background: #00aaf7;
}

.fa-angle-right {
  vertical-align: -15% !important;
}

.submenu-heading__main--basket {
display: flex;
flex-flow: column;
background: #016391;
width: 20%;
font-size: 18px;
}

.submenu-heading__main,
.submenu-heading__secondary {
  display: flex;
  justify-content: space-around;;
  font-weight: 600;
}

.submenu-heading__secondary {
  background-color: #fff;
  font-size: 19px;
  color: red;
  top:0;
  border: 1px solid #302e2e;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.75);
  margin-top: -5px;
  height: 37px;
  line-height: 40px;
  margin-bottom:10px;
}

.submenu-heading__main--pizza,
.submenu-heading__main--sides,
.submenu-heading__main--desserts,
.submenu-heading__main--drinks {
  border-right: 1px solid lightgrey;
  width: 25%;;
}
.basket-amount {
  font-size: 15px;
  line-height: 20px;
}
.fa-shopping-basket {
  margin : 5px 0;
}
/* PICTURE SECTION */

.promotion-picture {
  background-size: contain;
  max-width: 100%;
}

/* PERSONALISE MENU */

.section-wrapper__ipad,
.section-wrapper__items {
  display: none;
}

.personalise-menu {
  display: flex;
  flex-flow: row wrap;
  font-weight: 600;
  width: 100%;
}

.personalise-menu-own,
.personalise-menu-half {
  color : #fff;
  padding:10px;
  text-align: center;
  line-height: 1.9;
  height: 37px;
  width: 43.7%;
}

.personalise-menu-own {
  background: #016391;
}

.personalise-menu-half {
  background: #e31837;
}

.personalise-menu-own.ipad,
.personalise-menu-half.ipad {
  display: none;
}
/* PIZZA LEGEND */

.pizza-legend {
  display: flex;
  margin: 0;
  place-items: center center;
  justify-content: space-evenly;
  height: 63px;
  border: 2px solid #00aaf7;
  margin-top: 10px;
  background: #e8f5fd;
}

.pizza-legend__img {
  width: 25%;
  margin-left: 5%;
}

.pizza-legend__id {
  border: 1px solid #302e2e;
  color: #302e2e;
  margin-left: 8%;
  font-size: 15px;
  padding: 10px;
  width: 50%;
  letter-spacing: -1px;
  font-weight: 600;
}

.pizza-legend__submit {
  margin-left: -5px;
  border: 1px solid #789e37;
  background: #789e37;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  letter-spacing: -1px;
  font-weight: 600;
}

.pizza-legend__ipad {
  display: none;
}

/* SYMBOL SECTION */
.symbol-section,
.symbol-section.ipad {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:13px;
  margin-bottom: 5px;
}

.symbol-section__veggie,
.symbol-section__gluten,
.symbol-section__hot {
display: flex;
margin: 0 10px;
background-color : white;
}

.symbol-section__icon-veggie,
.symbol-section__icon-gluten,
.symbol-section__icon-hot {
    margin-right: 5px;
    background-color: green;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1.8;
    color: white;
    font-weight: 700;
}

.symbol-section__icon-gluten {
  background-color: #016391;
}

.symbol-section__icon-hot {
  background-color: #e31837;
}
.symbol-section__text{
  line-height: 1.8;
  color: #016391;
}

.hot-spicy {
color: black;
}

.fa-info {
  background-color: #016391;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  color:#fff;
  text-align: center;
  padding:1px;
}

.my-info-icon{
  vertical-align: middle;
}

/* MAIN CONTENT */

.main-content {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

.main-content__menu {
  border : 3px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: transform 1s;
}

.main-content__menu:hover{
  transform: rotate(1080deg);
  transform: scale(1.2);
}

/* MENU SECTION */

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #fff;
}

.menu-item{
  width: 47%;
  margin: 18px 0;
}

.horizontal-line {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border-bottom:1px solid lightgrey;
}

.menu-item__image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3e/Pizza_au_thon%2C_Tunisie_4_mai_2017.jpeg');
  background-size: cover;
  width: 100%;
  height: 150px;
}

.menu-item__name,
.menu-item__size,
.menu-item__customise,
.menu-item__add {
  width: 100%;
}

.menu-item__name,
.menu-item__size { 
  background: black;
  color : white;
  padding: 3px 0;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: .4px;
}

.menu-item__name {
  text-indent:4px;
}

.menu-item__size {
  text-indent:1px;
}
.menu-item__selectbox {
  background-color:black;
  color:white;
  width: 85%;
  letter-spacing: -1px;
  font-weight: 600;
  font-size:12px;
}

.fa-info.my-pizza-icon {
  width: 20px;
  height: 20px;
}

.my-pizza-icon{
  border:2px solid #fff;
  float: right;
  margin: 5px 5px 0 0;
}

.menu-item__customise,
.menu-item__add {
  height: 37px;
  text-align: center;
  line-height: 2.1;
  font-weight: 600;
  font-size: 18px;
}

.menu-item__customise {
  background:#1893CC;
  color : white;
}

.menu-item__add {
  background: #5B782A;
  color : white;
}

/* SIDES */ 

.section-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:25px 0 -15px 0;
  width: 100%;
}


.section-wrapper__header {
  color: #e31837;
}

.fa-affiliatetheme {
  margin:0 5px;
  color:#e31837;
}

.fa-affiliatetheme.first{
  transform:rotate(0deg);
  margin-left: 0.5%;
}

.fa-affiliatetheme.second{
  transform : rotate(180deg);
  margin-right: 0.5%;
}

hr {
  border:1px solid #016391;;
  width: 22%;
}

.menu-item__name.sides {
  border-bottom : 1px solid black;
}

.menu-item__size.sides {
display: flex;
background-color: #fff;
padding:0;
}

.menu-item__price.sides {
  font-size:20px;
  color: #fff;
  background-color: #302e2e;
  padding: 5px 10px;
  width: 50%;
}

.menu-item__selectbox.sides {
  font-size:15px;
  width: 50%;
  margin-left: 20%;
  background-color: #fff;
  color: #302e2e;
  border-right:1px solid lightgrey;
}

/* FOOTER */

.footer-wrapper {
  margin-top: 38%;
  text-align: center;
}

.footer-section {
  background-color: #e5e5e5;
  border:1px solid lightgrey;
  padding: 8px;
  color: #016391;
  letter-spacing: -0.5px;
}

.footer-section.follow{
  border :none;
}

.fa-angle-down {
  float: right;
  margin-right: 10px;
}

i.arrow {
  line-height: 1.6;
  color: #e31837;
}

.footer-section__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 15px;
  font-size: 16px;
  color:#016391;
}

.footer-section__links > p {
  padding: 0 10px;
  border-right: 1px solid black;
}

.footer-section__copyright {
  margin-top: 20px;
  font-size: 16px;
}

.footer-section__links,
.footer-section__copyright {
  color:#016391;
}

/* BACKGROUND IMAGES */

/* SIDES */
.menu-item__image.dippers {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Side/256x256/1907-SID-Garlic-Dippers.jpg?v=2fe77e326ab1c62215f148e77ca028cf');
}
.menu-item__image.garlic {
background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Side/256x256/1907-SID-Garlic-Pizza.jpg?v=fc9998be5ccfdd747f58d17afb3a8016');
}

.menu-item__image.potato {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Side/256x256/1907-SID-Potato-Wedges.jpg?v=5929897e0e3769500673e1d0d0c7d87e');
}
.menu-item__image.dough {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Side/256x256/1907-SID-Twisted-Doughballs-Pepperoni.jpg?v=048974218c4e3fff40bb87de0cba0f79')
}

/* DESSERTS */

.menu-item__image.cookies {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Dessert/256x256/1907-DES-Cookies.jpg?v=1efc9d35e0cabcf52ebfbd8880d51035');
}

.menu-item__image.vanilla {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Dessert/256x256/1907-DES-BJ-Caramel-Chew-Chew.jpg?v=fa1339fbb63f08c1c398bd86042f4bb9');
}

.menu-item__image.mint {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Dessert/256x256/1907-DES-BJ-Birthday-Cake.jpg?v=d9647cdcd894c61df06ebd10d63daf49');
}

.menu-item__image.magnum{
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Dessert/256x256/1907-DES-Magnum-White-Tub.jpg?v=0b8063a529e94f408590252d922b5312');
}

/* DRINKS */

.menu-item__image.water {
background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Drink/256x256/1907-DRI-Smartwater-600ml.jpg?v=848559acf4043eac890c55f6ac133185');
}

.menu-item__image.diet {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Drink/256x256/1907-DRI-Diet-Coke.jpg?v=fce7fa38e90d557fbbfb3eec2d673c94');
}
.menu-item__image.classic {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Drink/256x256/1907-DRI-Coca-Cola.jpg?v=a9e504fd285586b57497e49a1eb90775');
}

.menu-item__image.fanta {
  background-image: url('https://www.dominos.co.uk/Content/images/Products/GB/Drink/256x256/1907-DRI-Fanta-Orange.jpg?v=c7cdeca16d5eb8312d4219a516c285f8');
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

  .submenu-heading__main--collect {
    display: inline;
    background-color : #016391;
  }

  .submenu-heading__main--collect,
  .submenu-heading__main--basket {
    width: 30%;
  }

  .submenu-heading__main--menu,
  .submenu-heading__main--deals {
    width: 20%;
  }

  .promotion-picture {
    width: 100%;
    height: 10rem;
  }

/* PROMOTIONS */

/* PERSONALIZE MENU */
 .section-wrapper__ipad {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:10px 0 25px 0;
    width: 100%;
  }

  .section-wrapper__items {
    display: flex;
    flex-flow : row nowrap;
    justify-content: space-between;
    margin: 0 20px;
  }

  .personalise-menu-own,
  .personalise-menu-half,
  .pizza-legend {
    display: none;
  }

  .personalise-menu.ipad,
  .personalise-menu-half.ipad,
  .pizza-legend.ipad {
    display: flex;
    flex-flow: column;
    width: 31%;
  } 

  .personalise-menu.description-own,
  .personalise-menu.description-half,
  .pizza-legend.description {
    overflow-y: hidden;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 20px 5px 0px;
    color: #fff;
  }

  .personalise-menu.footer {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  .personalise-menu.footer.own,
  .personalise-menu.footer.half {
    justify-content: space-between;
  }

  .personalise-menu.description-own,
  .personalise-menu.footer.own {
    background-color: #016391;
  }

  .personalise-menu.description-half,
  .personalise-menu.footer.half {
    background-color: red;
    font-size: 14px;
    letter-spacing: 1px;
    }

  .personalise-menu.description-half.legend,
  .personalise-menu.footer.half.legend {
    border: 1px solid #00aaf7;
    background: #e8f5fd;
    color : #1893CC;
    border-bottom : transparent;
  }
    
  .personalise-menu.price,
  .personalise-menu.clickable {
    padding: 5px 0;
    justify-content: space-between;
    font-size : 17px;
    letter-spacing: -.5px;
    width: 31%;
  }

  .personalise-menu.price {
    background-color: black;
    color : #fff;
  }

  .personalise-menu.clickable {
    background: #5B782A;
    color : #fff;
    padding-left: 10px;
  }
    
  .pizza-legend__id.ipad {
    margin-left: 0;
    width: 62.7%;
  }
    
  /* PIZZA LEGEND */

  /* SYMBOL SECTION */
  .section-wrapper__ipad.specialty {
    margin-top: 15px;
    margin-bottom: -10px;
  }

    
  /* MAIN CONTENT */
  .horizontal-line {
    display: none;
  }
  .menu {
   margin : 0 20px;
  }
  .menu-item {
  width: 31%;
  }
}



@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  
}
  






